@font-face {
    font-family: 'kRegularFont';
    src: url('../assets/Outfit/fonts/Outfit-Regular.ttf');
}
@font-face {
    font-family: 'kBoldFont';
    src: url('../assets/Outfit/fonts/Outfit-Bold.ttf');
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 50px;
    margin-top: 10px;
}
.logo {
    display: flex;
    place-items: center;
    margin-left: 2.5rem;
    cursor: pointer;

}
.climate {
    display: flex;
    place-items: center;
    margin-right: 2rem;
}
h1 {
    padding-left: 1.5rem;
    font-family: kRegularFont;
}

.searchbar {
    display: flex;
    justify-content: center;
}

.searchInput {
    border-radius: 20px;
    padding: 16px;
    border: none;
    width: 300px;
    justify-content: center;
    margin-right: 10px;
    font-family: kregularFont;
    
}
.searchInput:focus {
    outline: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: kregularFont;
  background-color: #1a1a1a;
  cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 15px rgb(2, 85, 211);
    transition: 0.3s ease-in-out;
}

.history-icon {
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .searchbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .searchInput {
        width: 40%;
    }

    .navbar {
        margin-bottom: 30px;
        margin-right: 20px;
        margin-top: 20px;
        
    }

    .logo {
        height: 50px;
        width: 50px;
        margin-left: 20px;
    }
    
    h1 {
        font-size: 0.5rem;
        padding-left: 10px;
    }
    .history-icon {
        height: 30px;
    }
}